<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <h1>Общая статистика</h1>
        <br><br><br><hr>

        {% if all %}
            <h2>Статистика по всем прошедшим тест</h2>
            <h3>Имеют признаки депрессии: {{ all.1 }}%</h3>
            <h3>Не имеют признаков депрессии: {{ all.0 }}%</h3>
            <h3>Стоит провериться: {{ all.2 }}%</h3>
            <hr>

            <h2>Статистика по мужчинам прошедшим тест</h2>
            {% if ms %}
                <h3>Имеют признаки депрессии: {{ ms.1 }}%</h3>
                <h3>Не имеют признаков депрессии: {{ ms.0 }}%</h3>
                <h3>Стоит провериться: {{ ms.2 }}%</h3>
            {% else %}
                <h3> Пока ни один мужчина не прошел тест</h3>
            {% endif %}
            <hr>

            <h2>Статистика по женщинам прошедшим тест</h2>
            {% if ws %}
                <h3>Имеют признаки депрессии: {{ ws.1 }}%</h3>
                <h3>Не имеют признаков депрессии: {{ ws.0 }}%</h3>
                <h3>Стоит провериться: {{ ws.2 }}%</h3>
            {% else %}
                <h3> Пока ни одна женщина не прошла тест</h3>
            {% endif %}
            <hr>
        {% else %}
            <h3> Пока никто не прошел тест</h3>
        {% endif %}
    </div>
</body>
</html>